.wrapper {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px; /* Adjust the margin as needed */
}

.button-container button {
  margin-right: 8px; /* Adjust the right margin for spacing between buttons */
}
